@import url("https://cdn.jsdelivr.net/npm/@joblist/components@0.1.14/dist-lib/style.css");

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
section + section {
	margin-top: var(--s);
}

joblist-date {
	font-style: italic;
}

joblist-stats:has(p) {
	border: 1px solid var(--c-link);
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: var(--s);
	padding: calc(var(--s) / 2);
	:is(p) {
		margin: 0;
	}
}
